$screens: (
    "xs": 450,
    "sm": 640,
    "md": 768,
    "mmd": 890,
    "lg": 1024,
    "xl": 1280,
    "xxl": 1350,
    "xxxl": 1600,
    "xxxxl": 1800
);

$fontSize: (
    "heading": (
        "lg": 2rem,
        "md": 1.5rem
    ),
    "subHeading": (
        "lg": 1.3rem,
        "md": 1.1rem
    ),
    "paragraph": (
        "lg": 0.9rem,
        "md": 0.7rem
    ),
    "subText": (
        "lg": 1.1rem,
        "md": 0.9rem
    ),
    "small": (
        "lg": 0.7rem,
        "md": 0.6rem
    ),
    "button": 1rem
);

$colors: (
    "backgroundLight": #F9FAFC,
    "backgroundDark": #F4F5F7,
    "spaceGrey": #F1F2F6,
    "lightGray": #EBEBEB,
    "darkGray": #6F6F6F,
    "textPrimary": #042A2B,
    "textSecondary": #5B44BA,
);

