$screens: (
  'xs': 450px,
  'sm': 640px,
  'md': 768px,
  'mmd': 890px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1350px,
  'xxxl': 1600px,
  'xxxxl': 1800px
);

$fontSize: (
  'heading': (
    'lg': 2rem,
    'md': 1.6rem
  ),
  'subHeading': (
    'lg': 1.4rem,
    'md': 1.2rem
  ),
  'paragraph': (
    'lg': 1rem,
    'md': 0.8rem
  ),
  'subText': (
    'lg': 1.3rem,
    'md': 1rem
  ),
  'small': (
    'lg': 0.7rem,
    'md': 0.6rem
  ),
  'button': 1rem
);

$colors: (
  'backgroundLight': #f9fafc,
  'backgroundDark': #f4f5f7,
  'spaceGrey': #f1f2f6,
  'lightGray': #ebebeb,
  'darkGray': #6f6f6f,
  'textPrimary': #042a2b,
  'textSecondary': #5b44ba,
  'shadow': 'rgba(91, 68, 186, 0.25)',
  'primaryGradient': linear-gradient(133.06deg, #7c6ac8 1.78%, #5b44ba 64.41%),
  'textFooter': #1c1438
);
