// Header
.flex {
  display: flex;
  width: 11rem;
  height: fit-content;
  justify-content: space-between;
}

.tutorialIcon {
  height: 2.5rem;
  width: 2.5rem;
}

// Tutorials
.tutorialCardDiv {
  width: 350px;
  margin: 20px 20px 20px 0;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.tutorialLink {
  text-decoration: none;
}

.cardContent {
  padding: 20px;
}

.cardHeading {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.cardDescription {
  color: #777288;
}

.tutorialAvailable {
  padding: 0.5rem 0;
  border-radius: 26px;
  background-color: rgba(143, 150, 224, 0.25);
  width: 100px;
  margin-top: 11px;
  display: table;
}

.comingSoon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  color: #5b44ba;
}

.tutorialContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
