.spacing {
  margin: 1rem 0;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  row-gap: 1rem;
}

.subHeading {
  padding: 0.5rem 0;
}

.left {
  width: 45%;
}

.purple {
  color: #5b44ba;
}

.headerImage {
  width: 55%;
}

@media (min-width: 2000px) {
  .left {
    width: 30%;
  }
  .headerImage {
    width: 35%;
  }
}

@media (max-width: 890px) {
  .left {
    width: 100%;
  }
  .headerImage {
    width: 100%;
  }
}

.homeMainContent {
  margin-bottom: 3rem;
}

.right {
  width: 50%;
  margin-top: 3rem;
}

.getStartedImage {
  width: 40%;
}

@media (min-width: 2000px) {
  .right {
    width: 35%;
  }
  .getStartedImage {
    width: 30%;
  }
}

.exploreLitmusDiv {
  height: 100%;
  margin: 1rem 0;
}

.footerDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2% 20%;
}

.cncfDiv {
  margin-top: 30px;
}

.cncfText {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  color: #1c1438;
}

.cncfLink {
  color: #5b44ba;
}

.preFooterRight {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.preFooterButton {
  height: 3rem;
  min-width: 10rem;
  width: 18rem;
  border: none;
  background: linear-gradient(133.06deg, #7c6ac8 1.78%, #5b44ba 64.41%);
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.preFooterButton :disabled {
  background: lightgray;
}

.tutorialCardDiv {
  width: 350px;
  margin: 20px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.tutorialLink {
  text-decoration: none;
}

.cardContent {
  padding: 20px;
}

.cardHeading {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.cardDescription {
  color: #777288;
}

.tutorialAvailable {
  padding: 6px 12px;
  border-radius: 26px;
  background-color: rgba(143, 150, 224, 0.25);
  width: 100px;
  margin-top: 11px;
}

.comingSoon {
  font-size: 12px;
  color: #5b44ba;
}

.tutorialContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chaosHubHeader {
  font-size: 24px;
  color: #777288;
}

.chaosHubDiv {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chaosHubInfo {
  margin: auto;
}

.chaosHubDescription {
  max-width: 600px;
  margin-top: 20px;
  color: #777288;
}

.chaosHubExplore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.chaosHubExploreText {
  color: #5b44ba;
}

.chaosHubImage {
  margin-left: 5px;
  margin-top: 5px;
}
/*# sourceMappingURL=home.css.map */