.code {
	border-radius: 5px;
	margin-bottom: 8em;
	box-sizing: border-box;

	.titleGroup {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		box-sizing: border-box;
		align-items: center;
		color: #777288;
		background: #16102d;
		user-select: none;
		padding: 0.75em 1.25em;
		line-height: 0;

		.title {
			padding-left: 0.5rem;
			justify-self: flex-start;
			font-size: 12px;
			font-weight: 500;
		}

		.copyBtn {
			align-self: flex-end;
			justify-self: flex-end;
			background: #16102d;
			border: none;
			border-radius: 2px;
		}
	}

	.coding {
		padding: 1em 0.75em;
		background: #2e225d;

		overflow: auto;

		&::-webkit-scrollbar {
			width: 6px;
			height: 6px;
			opacity: 0;
		}
	}
}

.coding.coding.coding pre {
	background: #2e225d;
	background-size: 100% 4.5em;
	border: none;
	border-radius: 0;
	font-family: monospace;
	font-size: 1.3em;
	line-height: 1.5;
	padding-top: 0.6em;
	margin-bottom: 0;
	white-space: pre-wrap;
}

.code {
	:global {
		pre[class*='language-'].line-numbers {
			position: relative;
			padding-left: 3.8em;
			counter-reset: linenumber;
		}

		pre[class*='language-'].line-numbers > code {
			position: relative;
			white-space: inherit;
		}

		.line-numbers .line-numbers-rows {
			position: absolute;
			pointer-events: none;
			top: 0;
			font-size: 100%;
			left: -3.8em;
			width: 3em; /* works for line-numbers below 1000 lines */
			letter-spacing: -1px;
			border-right: 1px solid #999;

			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.line-numbers-rows > span {
			pointer-events: none;
			display: block;
			counter-increment: linenumber;
		}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}
	}
}

html[data-theme='dark'] {
	.code.code {
		background: hsla(200, 18%, 7%, 1);

		.titleGroup {
			background: hsla(200, 17%, 10%, 1);
		}
	}
}
