@import '../theme';
@import '../mixin';

// Global

.spacing {
  margin: 1rem 0;
}

.grid {
  @include grid();
}

.subHeading {
  padding: 0.5rem 0;
}

// Header
.headingLeft {
  width: 45%;
}

.headerImage {
  width: 50%;
  height: 100%;
}

.purple {
  color: map-get($colors, textSecondary);
}

@media (min-width: 2000px) {
  .headingLeft {
    width: 30%;
  }

  .headerImage {
    width: 35%;
  }
}

@media (max-width: 890px) {
  .headingLeft {
    width: 100%;
  }

  .headerImage {
    margin-top: 2rem;
    width: 100%;
  }
}

// Homepage main content
.homeMainContent {
  margin-bottom: 3rem;
}

// Get Started Header

.right {
  width: 50%;
  margin-top: 3rem;
}

.getStartedImage {
  width: 40%;
}

@media (min-width: 2000px) {
  .right {
    width: 35%;
  }

  .getStartedImage {
    width: 30%;
  }
}

@media (max-width: map-get($screens, mmd)) {
  .right {
    width: 100%;
  }

  .getStartedImage {
    width: 100%;
  }
}

// Explore Litmus

.exploreLitmusDiv {
  height: 100%;
  margin: 1rem 0;
}

// footer
.footerDiv {
  display: flex;
  justify-content: space-between;
  padding: 2% 20%;
}

.cncfDiv {
  margin-top: 30px;
}

.cncfText {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  color: map-get($colors, textFooter);
}

.cncfLink {
  color: map-get($colors, textSecondary);
}

.preFooterRight {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.preFooterButton {
  height: 3rem;
  min-width: 10rem;
  width: 18rem;
  border: none;
  background: linear-gradient(133.06deg, #7c6ac8 1.78%, #5b44ba 64.41%);
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  :disabled {
    background: lightgray;
  }
  display: flex;
  justify-content: center;
  padding: 10px;
}
