.left {
    width: 45%;
}

.purple {
    color: #5B44BA;
}

.headerImage {
    width: 55%;
}

.spacing {
    margin: 1rem 0
}

@media (min-width: 2000px) {
    .left {
        width: 30%;
    }

    .headerImage {
        widtH: 35%;
    }
}